.carBanner {
  width: 100%;
  background-color: #5a2383;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: flex-start;
  padding: 0 2%;
  justify-content: center;
  text-align: start;

  .first {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    justify-content: center;
    height: 100%;
    padding: 6% 0;

    h5 {
      font-weight: 800;
      line-height: 48px;
      font-size: 35px;
    }
    p {
      font-size: 16px;
      // margin-bottom: 30px;
    }
  }
  .second {
    height: 100%;
    .image {
      width: 100%;
      height: 77%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: end;

      img {
        width: auto;
        height: 90%;
        // object-fit: contain;
      }
    }
    p {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .carBanner {
    grid-template-columns: 1fr;
    padding: 5%;
    gap: 20px;

    .first {
      // align-items: center;
      text-align: start;
      gap: 6px;
      padding: 0 3%;
      h5 {
        font-size: 20px;
        line-height: 29px;
        // display: flex;
        // align-items: start;
      }

      p {
        font-size: 14px;
      }
    }

    .second {
      // max-width: 300px;
      .image {
        max-width: 100%;
        height: auto;
        // overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: end;
        // background-image: url("../../../public/car.png");
        background-size: cover;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}
