.customize-container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding: 1rem 0;
}

.customize-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto; /* Adjust height for smaller screens */
  }
}

.banner-image {
  object-fit: cover; 
  // flex: 1; /* Ensure both images take equal width */
  height: 570px; /* Fill the container height */
  // margin: 0; /* Remove margin */

  @media (max-width: 768px) {
    width: 100%;
    height: auto; /* Adjust height for smaller screens */
  }
}
