.Customise
{
    width: 80%;
    margin: 0 auto !important;
    padding: 0 !important;
    color: $color-white;
    background: transparent !important;
    .topheader
    {
        background: $main-color-darkpurple;
        height: 75px;
        padding: 16px 25px;
        h3
        {
            font-size: $font-size+2;
            margin: 0;
            padding: 0 0 5px;
            span
            {
                border-radius: $border-radius;
                border:$border-width-1 solid $color-white;
                text-align: center;
              //  padding: 5px;
                font-size: $font-size;
                height: 20px;
                width: 20px;
                display: inline-block;
                margin: 0 5px 0 0;
            }
        }
        .steptext
        {
            font-size: ($font-size)-2;
            color: $olor-greyDCDCDC;
            padding: 0 0 0 30px;
        }
    }
    .stepfill
    {
        background: $color-white;
        width: 100%;
        height: 10px;
        .filled
        {
           
            height: 100%;
            background: $main-color-pink;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            &.step1
            {
                width: 10%;
            }
            &.step2
            {
                width: 20%;
            }
            &.step3
            {
                width: 30%;
            }
            &.step4
            {
                width: 50%;
            }
            &.step5
            {
                width: 70%;
            }
            &.step6
            {
                width: 100%;
            }
            
        }
    }
    .customise-content
    {
        margin: 16px 0 0;
        background: $color-white;
        padding: 24px;
        min-height: 470px;
        .field-div
        {
            width: 310px;
            background: $color-greyF1ECEE;
            border-radius: ($border-radius)-9;
            padding: 10px;
            margin: 0 0 20px 0;
            color: $main-color-darkpurple;
            border:$border-width-1 solid $main-color-darkpurple;
            input[type='radio']
            {
                display: inline-block;
                position: relative;
               
                &:after {
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    top: -2px;
                    left: -1px;
                    position: relative;
                    background: $color-greyF1ECEE;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border:$border-width-2 solid $main-color-darkpurple;
                }
            
                &:checked
                {
                    &:after {
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        top: -2px;
                        left: -1px;
                        position: relative;
                        background-color: $main-color-darkpurple;
                        content: '';
                        display: inline-block;
                        visibility: visible;
                        border:$border-width-2 solid $main-color-darkpurple;
                    }
                    &:before {
                        width: 18px;
                        height: 18px;
                        border-radius: 18px;
                        top: -1px;
                        left: 0px;
                        position: absolute;
                        background-color: transparent;
                        content: '';
                        display: inline-block;
                        visibility: visible;
                        border:$border-width-2 solid $color-white;
                        z-index: 9;
                    }
                    
                }




            }
            label
            {
                color: $main-color-darkpurple;
                display: inline-block;
                padding: 0 0 0 10px;
            }
        }
        .model-choose
        {
            width: 328px;
            margin: 0 auto;
            .preview-div
            {
                width: 100%;
                border:$border-width-1 solid  $main-color-darkpurple;
                border-radius: $border-radius;
                text-align: center;
                min-height: 172px;
                vertical-align: middle;
            }
            .selectbtn-div
            {
                margin: 45px 0 20px;
                .btn
                {
                    margin: 0 0 35px;
                    width: 100%;
                    &.btn-primary
                    {
                        background: $main-color-pink;
                        border: 1px solid $main-color-pink;
                    }
                    
                }
                .ordiv
                {
                    width: 100%;
                    border-top: $border-width-1 solid $main-color-grey-tint2;
                    position: relative;
                    text-align: center;
                    margin: 0 auto 35px;
                    .ortxt
                    {
                        position: absolute;
                        
                        text-align: center;
                        color: $main-color-grey-tint2;
                    top: -11px;
                    left: 45%;
                    background: $color-white;
                    }
                }
                .inputfromgallery
                {
                    background: $color-greyF1ECEE;
                    color: $main-color-darkpurple;
                    padding: 10px;
                    border: $border-width-3 dashed $main-color-darkpurple;
                    border-radius: ($border-radius)-9;
                    text-align: center;
                    cursor: pointer;
                    #Uploadfromgallery
                    {
                        display: none;
                    }
                    svg
                    {
                        width: 16px;
                        height: 16px;
                        
                    }
                }
            }
        }
        .fabric-choose
        {
            color: $main-color-darkpurple;
            h3
            {
                font-size: $font-size+2;
                color: $main-color-darkpurple;
                font-weight: $font-weight-5;
                margin: 0 0 25px 0;
            }
            
            .main-materialdiv
            {
                height: 300px;
                overflow-y: scroll;
                scrollbar-color: rebeccapurple green;
                .material-div
                {
                    display: flex;
                    margin: 0 0 20px 0;
                    color: $main-color-darkpurple;
                    h4,
                    .price
                    {
                        color: $color-black;
                        font-size: $font-size+2;
                        font-weight: $font-weight-5;
                        padding: 0 0 0 15px;
                        
                    }
                    .price
                    {
                        font-weight: $font-weight-7;
                    }
    
                }
            }
            
        }
        .customdetail
        {
            .fielddiv
            {
    
    
                width: 328px;
                margin: 0 0 20px;
                input
                {
              //  margin: 25px auto 80px;
                width:100%;
                    &.otp
                    {
                        width: 45px;
                        display: inline-block;
                        margin:25px 20px 20px 0;
                        text-align: center;
                    }
                }
            
                label
                {
                    position: absolute;
                    background: $color-white;
                    color: $main-color-darkpurple;
                    font-size: ($font-size)-2;
                    top: -8px;
                    left: 7%;
                }
            }
        }
    }
    .btns-div
    {
        display: flex;
        width: 100%;
        .btn-primary
        {
            margin-left: auto;
        }
    }
}
.stitchcart-images
{
    width: 80%;
    left: 20vh;
    background: $color-pinkFBE5EC;
    border-radius: 0;
    padding: 0;
    @media (max-width: 576px)
    {
        left: 5vh;
    }

    .top-header
    {
        background:$main-color-darkpurple;
        padding: 20px ;
        color: $color-white;
        h3
        {
            padding: 0;
            margin: 0;
            color: $color-white;
            font-size: $font-size+4;
            font-weight: $font-weight-5;
            i
            {
                padding-right: 10px;
            }
        }
    }
    .content-part
    {
        background: $color-pinkFBE5EC;
        padding: 20px;
       // width: 90%;
        margin: auto;
      
        .model-images-div
        {
            display: flex;
            flex-wrap: wrap;
            .model-images
            {
                margin: 0 10px 10px 0;
                position: relative;
                input
                {
                    
                    position: absolute;
                    left: 10px;
                    top: 10px;
                   
                }
            }
            img
            {
                margin: 0;
                border:$border-width-1 solid $main-color-darkpurple;
            }
        }
    }
}

.react-horizontal-scrolling-menu--item 
{
    margin: 0 10px;
    background: $color-white;
    border-radius: $border-radius;
  
    
    img
    {
        margin: 10px;
    }
    
    h3
    {
        font-size: $font-size+2;
        text-align: center;

    }
    @media (max-width: 576px) 
    {
        margin: 0 5px;
        img
        {
            margin: 5px !important;
            width: 110px !important;
            height: auto !important;
        }
        h3
        {
            font-size: ($font-size)-1 !important;
        }
    }
}
.recent-list,
.custoemr-review
{
    .react-horizontal-scrolling-menu--item 
    {
        margin: 0 !important;
        background: none !important;
        border-radius: 0 !important;
        
        img
        {
            margin: 0px !important;
        }
        h3
        {
            font-size: $font-size+2;
            text-align: center;

        }
    }
}
.recent-list
{
    .react-horizontal-scrolling-menu--item 
    {
        a
        {
            div
            {
                img
                {
                    width: 100% !important;
                }
            }
        }
    }

}
.customize-now
{
    @media (max-width: 576px)
    {
        &.mobileviews
        {
                padding: 0 !important;
                margin-top: 0 !important;
                .fielddiv
                {
                    width: 100%;
                }
                .customize-now-inner
                {
                    padding: 0;
                    .category-select
                    {
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid $color-greyC4C4C4;
                        margin-right: 0;
                        .c-image
                        {
                            height: auto;
                            width: 100%;
                            background: $color-white;
                            padding: 20px 16px 10px;
                          //  padding: 80px 30px;
                          overflow: visible;
                          overflow-y: scroll;
                          overflow-x: hidden;
                            img
                            {
                                margin:80px 0 20px;
                            }
                            p
                            {
                                &:nth-child(3)
                                {
                                    margin: 0 0 80px;
                                }
                            }
                            &.viewedit
                            {
                                background: transparent;
                                padding: 0;
                                border: none;
                                .imagediv
                                {
                                    img
                                    {
                                        padding: 5px;
                                        background: $color-white;
                                        margin-right: 5px;
                                    }
                                    p
                                    {
                                        background: $color-white;
                                        padding: 10px !important; 
                                      
                                    }
                                }
                            }
                        }
                        &.addon
                        {
                            margin-left: 0;
                            margin-top: 40px;
                            margin-bottom: 80px;
                            h5
                            {
                                font-size: $font-size+4;
                            }
                            .c-image
                            {
                             //   padding: 30px 20px;
                                height: auto;
                                overflow: visible;
                                &.viewedit
                                {
                                    background: transparent;
                                    padding: 0;
                                    border: none;
                                    border-bottom: 1px solid $color-greyC4C4C4;

                                }
                                img
                                {
                                    margin:30px 0;
                                }
                                p
                                {
                                    &:nth-child(3)
                                    {
                                        margin: 0 0 30px;
                                    }
                                }
                            }
                            .btns-div 
                            {
                                position: fixed;
                                background: $color-white;
                                width: 100%;
                                bottom: 10px;
                                padding: 30px 10px;
                                margin: 0;
                                left: 0;
                                .btn
                                {
                                    width: 100%;
                                }
                            }
                            .quote-fields
                            {
                                margin-top: 30px;
                                .fielddiv
                                {
                                    label
                                    {
                                        background: transparent;
                                    }
                                }
                               
                            }

                        }
                        &.create
                        {
                            padding-top: -80px;
                        }
                    }
                }
        }
    }
    .customize-now-inner
    {
        padding: 30px;
        color: $color-darypurple885567;
        .weight800
        {
            font-weight: 800;
            font-weight: bold;
        }
        .category-select
        {
            padding: 20px;
        }
        h4
        {
            font-size: 22px;
            color: $color-darypurple885567;
            margin: 0 0 20px;
            .status
            {
                   background: $color-info;
                   text-align: center;
                   padding: 6px 10px;
                   border-radius: ($border-radius)-3;
                   display: inline-block;
                   font-size: ($font-size)-1;
                   font-weight: $font-weight-9;
                   &.inprogress
                   {
                       background:$inprogressclr;
                       color:$inprogressclr-txt
                   }
                   &.decline
                   {
                       background:$declineclr;
                       color:$declineclr-txt
                   }
                   &.create
                   {
                       background:$createdclr;
                       color:$createdclr-txt;
                   }
                   &.accept
                   {
                       background:$accpetedclr;
                       color:$accpetedclr-txt;
                   }
               
            }
        }
        h5
        {
            font-size: 16px;
        }
        .category-select
        {
            border-right: 1px solid $color-greyC4C4C4;
            .fielddiv
            {
                margin-bottom: 20px;
            }
            .c-image
            {
                text-align: center;
                padding: 30px 30px 40px 30px;
                border: 1px solid $color-greyC4C4C4;
                width: 90%;
                border-radius: ($border-radius)-5;
                height: 475px;
                overflow-x: hidden;
                overflow-y: auto;
                label
                {
                    width: 97px;
                    height: 86px;
                    border: 1px solid #ccc;
                    text-align: center;
                    display: inline-block;
                    margin-right: 20px;
                    box-sizing: border-box;
                    padding-top: 20px;
                }
                img
                {
                    margin: 100px 0 20px;
                   // margin: 180px 0 20px;
                }
                .category-list
                {
                  //  padding: 25px;
                    text-align: left;
                   
                        .items
                        {
                            margin: 0 0 20px;
                            h5
                            {
                                color: $font-size+2;
                            }
                            .imagediv
                            {
                                display: flex;
 
                                div
                                {
                                    height: 86px;
                                    width: 97px;
                                    text-align: center;
                                    border: 1px solid $color-greyC4C4C4;
                                    border-radius: ($border-radius)-10;
                                    flex: 0 0 auto;
                                    margin: 0 10px 0 0;
                                  
                                }
                                img
                                {
                                  
                                    vertical-align: middle;
                                    margin: 0;
                                    height: 86px;
                                }
                                label
                                {
                                    img
                                    {
                                        width: 38px !important;
                                        height: 38px !important;
                                    }
                                }
                              
                                p
                                {
                                    color: $main-color-grey;
                                    border: 1px solid $color-greyD6D6D6;
                                    border-radius: ($border-radius)-10;
                                    padding: 8px;
                                    font-size: ($font-size)-1;
                                    line-height: 20px;
                                    width: 100%;
                                    height: 86px;
                                }
                            }
                           
                        }
                        &.create
                        {
                            .imagediv
                            {
                                display: flex;
 
                                div
                                {
                                   // padding: 20px;
                                    box-sizing: border-box;
                                }
                                p
                                {
                                    height: 86px;
                                    padding: 30px;
                                    box-sizing: border-box;
                                    text-align: center;
                                    width: 100%;
                                    font-size: $font-size+2;
                                    color: $color-greyC4C4C4;

                                }
                                textarea
                                {
                                    border: 1px solid #D6D6D6;
                                    border-radius: ($border-radius)-10;text-align: left;
                                    color: $color-greyC4C4C4;
                                }
                            }
                        }

                       
                    
                }
            }
            &.addon
            {
                border-right: 0px solid $color-greyC4C4C4;
                margin-left: 40px;
                .c-image
                {
                   
                  //  padding: 30px 30px 40px 30px;
                    padding: 30px 30px 0px 30px;
                    width: 100%;
                    height: 250px;
                    img
                    {
                        margin: 0px 0 20px;
                    }
                    .addon-text
                    {
                        text-align: left;
                        p
                        {
                        font-size: $font-size+3;
                        margin: 0 0 20px;
                        color: $main-color-grey;
                        font-weight: $font-weight-7;
                        display: flex;
                        label
                        {
                            margin-left: auto;
                            width: auto;
                            height: auto;
                            border: none;
                            margin-right: 0;
                            padding-top: 0;
                        }
                        }
                    }
                }
                .quote-fields
                {
                    margin: 30px 0 0 0;
                    .fielddiv
                    {
                        width: 100%;
                        label
                        {
                            position: static;
                            display: block;
                            font-size: $font-size;
                            padding: 0 0 5px;
                        }
                    }
                }
                .btns-div 
                {
                    margin: 80px 0 0 0;
                    vertical-align: bottom;
                    &.view
                    {
                        margin: 30px 0 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .btn
                        {
                            width: 48%;
                           
                            &:nth-child(2)
                            {
                                margin-left: auto;
                            }
                        }
                    }
                    &.noedit
                    {
                        .btn
                        {
                            width: 100% !important;
                        }

                    }
                    &.create
                    {
                        margin-top: 240px;
                        .btn
                        {
                            width: 100%;
                        }
                    }
                }
            }
        }
       
    }
    .fielddiv
    {
        width: 90%;
        select,
        input
        {
            background: $color-greyF4F4F4 !important;
            border: 1px solid $main-color-grey;
        }
       
    }

}