.customize {
  display: flex;
  gap: 20px;
  // margin-top: 40px;
  // margin-bottom: 40px;
  margin: 5%;

  .customizeBanner {
    padding: 20px 0;
    flex: 0 0 70%;
    width: 100%;
    background-image: url("../../../public/customize.png");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: start;
    text-align: start;
    padding-left: 8%;
    justify-content: center;

    h3 {
      font-weight: 800;
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }
  }

  .image {
    flex: 0 0 25%;
    max-height: 300px;
  }
}
