.footer {
  background: #1a1a1a;

  color: white;
  padding: 30px 0 0;
  margin: 70px 0 0 0;
  @media (max-width: 576px) {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 60px;
  }
  //   .contentdiv {
  //     .col-sm-12 {
  //       > div {
  //         background: transparent;
  //         @media (max-width: 576px) {
  //           padding-left: 0;
  //         }
  //         img {
  //           margin-right: 10px;
  //           vertical-align: baseline;
  //           width: 20px;
  //           height: 20px;
  //         }
  //       }
  //       p {
  //         color: $color-greyD6D6D6;
  //       }
  //       &.downapp {
  //         h4 {
  //           font-size: $font-size;
  //         }
  //         img {
  //           width: 206px;
  //           margin-bottom: 15px;
  //         }
  //       }
  //       ul {
  //         display: inline-block;
  //         width: 48%;
  //         li {
  //           padding: 15px;
  //           @media (max-width: 576px) {
  //             padding-left: 0;
  //           }
  //           a {
  //             color: $color-white;
  //           }
  //         }
  //       }
  //     }
  //   }
}
