.footer {
  background: #1a1a1a;
  color: white;
  padding: 4em 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
//   border-top: 1px solid white;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 3em 2rem;
  }

  @media (max-width: 768px) {
    padding: 2em 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content {
    img {
      width: 115px;
      height: auto;
      margin-bottom: 1rem;
    }

    p {
      font-size: 16px;
      color: #727272;
      font-weight: 600;
      max-width: 242px;
      margin-bottom: 14px;
      line-height: 24px;

      @media (max-width: 768px) {
        font-size: 14px;
        margin: 0 auto;
      }
    }

    .follow-us {
      h2 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
      }

      .social-links {
        display: flex;
        gap: 10px;

        .link {
          background: #727272;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 16px;
            height: 16px;
          }
        }
        @media (max-width: 1024px) {
          margin-bottom: 2rem;
        }
        @media (max-width: 768px) {
          justify-content: center;
          margin-top: 1rem;
        }
      }
      @media (max-width: 768px) {
        margin-top: 1rem;
      }
    }
  }

  .information {
    h2 {
      font-size: 20px;
      letter-spacing: 1.5px;
      font-weight: 600;
      margin-bottom: 1rem;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 1rem;

        a {
          text-decoration: none;
          letter-spacing: 1px;
          color: #727272;

          &:hover {
            color: white;
          }

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .contact-us {
    h2 {
      font-size: 20px;
      letter-spacing: 1.5px;
      font-weight: 600;
      margin-bottom: 1rem;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 1rem;

        svg {
          width: 40px;
          height: 40px;
          fill: white;
        }

        a {
          color: white;
          text-decoration: none;

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .newsletter {
    h2 {
      font-size: 20px;
      letter-spacing: 1.5px;
      font-weight: 600;
      margin-bottom: 1rem;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    .newsletter-input {
      display: flex;
      background: #121212;
      height: 45px;

      @media (max-width: 768px) {
        // flex-direction: column;
      }

      input {
        flex: 1;
        background: transparent;
        border: none;
        color: #fff;
        padding: 0 1rem;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 0.5rem;
        }

        &::placeholder {
          color: #727272;
        }
      }

      button {
        background: #121212;
        border: none;
        color: white;
        padding: 0 1rem;
        cursor: pointer;

        @media (max-width: 768px) {
        //   width: 100%;
        }
      }
    }

    .consent {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      input {
        margin-right: 0.5rem;
      }

      p {
        color: #a7a7a7;
        font-size: 14px;
      }
    }
  }
}
