.hero {
  width: 100%;
  background-image: url("../../../public/Hero2.png");
  background-size: cover;
  color: white;
  display: flex;
  height: 240px;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h4 {
    font-family: "Dancing Script";
    font-size: 30px;
  }

  h3 {
    font-weight: 800;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url("../../../public/mobile.png"); /* Change to the desired image for small screens */
    height: 240px;
  }
  .hero h4 {
    font-size: 22px;
  }

  .hero h3 {
    font-size: 30px;
  }
}

/* Media query for small devices (phones) */
@media (max-width: 480px) {
  .hero {
    background-image: url("../../../public/mobile.png"); /* Change to the desired image for small screens */
    height: 450px;
  }
  .hero h4 {
    font-size: 20px;
  }

  .hero h3 {
    font-size: 22px;
  }
}
