.home-talk {
  background-color: #1a1a1a;
  position: relative;
  padding: 60px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__heading {
    font-size: 30px;
    width: 70%;
    color: white;
    font-weight: 700;
    padding: 60px 0;
    text-align: center;
  }

  @media (max-width: 768px) {
    /* Medium devices (tablets, 768px and below) */
    .home-talk__heading {
      width: 85%;
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    /* Small devices (phones, 480px and below) */
    .home-talk__heading {
      width: 95%;
      font-size: 15px;
    }
  }

  .chat {
    height: 80px;
    width: 80px;
    right: 50px;
    bottom: 0px;
    position: absolute;
    background-image: url("../../../public/chat.png");
    background-size: cover;
    cursor: pointer;

    @media (max-width: 768px) {
      height: 40px;
      width: 40px;
      right: 20px;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }
}


.btn{
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  padding: 0.58rem 1.375rem;
  cursor: pointer;
  height: 185px;
  width: 185px;
  border-radius: 50%;
  display: flex;
  // padding: 80px 30px/;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #797979;
  color: #797979;
  transition: 0.45s ease-in-out;
  letter-spacing: 1px;
}