.homeBanner {
  width: 100%;
  background-color: #f7a700;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: flex-start;
  padding: 3% 7%;
  justify-content: center;
  text-align: start;

  .first {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    padding: 0 5%;
    justify-content: center;
    height: 100%;
    h4 {
      font-family: "Dancing Script";
      font-size: 30px;
    }

    h5 {
      font-weight: 700;
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
  }

  .image {
    width: 100%;
    height: 350px;
    background-image: url("../../../public/Group\ 87.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // overflow: hidden;

    // img {
    //   width: auto;
    //   height: 100%;
    //   object-fit: contain;
    // }
  }
}

/* Media query for medium devices (tablets) */
@media (max-width: 768px) {
  .homeBanner {
    grid-template-columns: 1fr;
    padding: 5% 3%;
    text-align: start;
    gap: 20px;
  }
  .first {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    justify-content: center;
    height: 100%;
    h4 {
      font-family: "Dancing Script";
      font-size: 20px;
    }

    h5 {
      font-weight: 700;
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
  }
}

/* Media query for small devices (phones) */
@media (max-width: 480px) {
  .homeBanner {
    grid-template-columns: 1fr;
    padding: 5% 3%;
    text-align: center;
    gap: 20px;
  }

  .first {
    align-items: center;
    text-align: center;
    gap: 6px;

    h4 {
      font-size: 13px;
    }

    h5 {
      font-size: 13px;
    }

    p {
      font-size: 10px;
    }

    .btnStyle {
      margin: 0 auto;
    }
  }

  .image {
    height: 150px;
  }
}
