.nav-container {
  padding: 10px 0;
  width: 100%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .elementor-widget-image {
    text-align: center;
    
    a {
      display: inline-block;
      
      img[src$=".svg"] {
        width: 48px;
      }
      
      .logo-image {
        max-width: 163.67px;
        height: 85.42px;
        margin-left: 54px;
        vertical-align: middle;
      }
    }
  }
  
  .elementor-widget-image img {
    vertical-align: middle;
    display: inline-block;
  }

  .navbar-links {
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    @media (max-width: 1024px) {
      font-size: 13px;
    }
  }
}















.desktop {
  background: #e51747;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;

    img {
      height: 80px;
    }

    .menu {
      height: 100%;
      margin: auto 0;
      font-size: 15px;

      .loginDiv {
        display: flex;
        justify-content: end;
        gap: 5px;
        color: white;
      }

      ul {
        display: flex;
        margin: auto 0;
        height: 100%;
        color: white;

        .navli {
          text-transform: uppercase;
          color: white;
          // position: relative;
          cursor: pointer;
          // transition: 0.45s ease-in-out;
          font-weight: 700;
          font-size: 16px;
          padding: 15px;
        }

        // .navli::after {
        //   content: "";
        //   position: absolute;
        //   width: 0;
        //   height: 2px; /* Adjust the height of the underline */
        //   bottom: -2px; /* Position it just below the text */
        //   left: 0;
        //   background-color: currentColor; /* Use the current text color for the underline */
        //   transition: width 0.3s ease-in-out; /* Adjust the transition duration and timing function as needed */
        // }

        // .navli:hover::after {
        //   width: 100%;
        // }
      }
    }
  }
}

.mobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 5% 7%;
    background: #e51747;
    z-index: 10; /* Ensure the Navbar is above the sidebar */
    position: relative;
    align-items: center;

    img {
      height: 80px;
      @media (max-width: 480px) {
        height: 60px;
      }
    }

    .navbtn {
      background-color: none;
      outline: none;
      border: none;
      color: none;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #e51747;
  color: white;
  padding: 1rem;
  transition: transform 0.5s;

  padding-top: 150px;
  z-index: 5;
  @media (max-width: 480px) {
    padding-top: 100px;
  }

  ul {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 25px;
    padding: 0;
    text-align: center;

    li {
      a {
        color: white;
        text-decoration: none;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .login-icon {
      display: none;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
  }

  /* Open and closed states */
  &.open {
    transform: translateY(0); /* Move in from the top */
  }

  &.closed {
    transform: translateY(-100%); /* Move out to the top */
  }
}
