.orderhistory
{
    width: 80%;
    margin: 0 auto !important;
    padding: 0 !important;
    color: $color-white;
    background: transparent !important;
    @media (max-width: 576px) 
    {
       width: 100%; 
    }
    
    .order-history-section
    {
        margin: 10px 0 0;
        background:transparent;
        padding: 24px;
        min-height: 470px;
        @media (max-width: 576px) 
        {
            padding: 0;
        }
        
        .history-secion-heading
        {
            background: $color-white;
            color: $main-color-darkpurple;
            padding: 16px 20px;
            margin: 0 0 15px;
            h3
            {
                font-size: $font-size+4;
                margin: 0;
                padding: 0 0 5px;
                font-weight: $font-weight-8;
                color: $color-black;
                span
                {
                    border-radius: $border-radius;
                    border:$border-width-1 solid $main-color-darkpurple;
                    text-align: center;
                  //  padding: 5px;
                    font-size: $font-size;
                    height: 20px;
                    width: 20px;
                    display: inline-block;
                    margin: 0 5px 0 0;
                    color: $color-white;
                    background: $main-color-darkpurple;
                    font-weight: $font-weight-5;
                    vertical-align: bottom;
                }
                i
                {
                    display: inline-block;
                    padding-left: 10px;
                    color: $color-success;
                }
            }
        }
        .history-secion-content
        {
            margin: -10px 0 15px;
            background: $color-white;
            color: $main-color-darkpurple;
            padding: 40px 30px;
            .content-div
            {
                width: 328px;
            }
            .field-heading
            {
                font-size: $font-size+2;
                font-weight: $font-weight-6;
                margin:  0 0 10px;
                color: $color-black;
                position: relative;
            }
            .mobileverify-number
            {
                display:block;
                @media (max-width: 576px) 
                {
                    display: none;
                }
            }
            .recent-measurement
            {
                width: 100%;
                margin: 24px 0 10px;
                h4
                {
                    font-size: $font-size+2;
                    font-weight: $font-weight-6;
                }
                .recent-detail-div
                {
                    border: $border-width-1 solid $main-color-darkpurple;
                    padding: 16px;
                    margin:  0 0 7px;
                    .measure-type
                    {
                        margin: 0 0 10px;
                        input
                        {
                            margin:  0 10px 0 0;
                        }
                        label
                        {
                            border-bottom: $border-width-1 solid $main-color-darkpurple;
                            &:after {
                                width: 7px;
                                height: 7px;
                                border-radius: 20px;
                                top: 8px;
                                left: 1px;
                                position: relative;
                                background: $main-color-darkpurple;
                                content: '';
                                display: inline-block;
                                visibility: visible;
                                border:$border-width-2 solid $main-color-darkpurple;
                            }
                        }
                    }
                    .measure-text
                    {
                        padding: 0 0 0 30px;
                    }
                    
                }
           
            }

            .address-content
            {
                .tab-content
                {
                    padding-bottom: 0;
                }   
                .address-div
                {
                    margin:0 0 0px;
                    h3
                    {
                        font-size: $font-size+2;
                        margin: 0 0 10px;
                        color: $color-black;
                    }
                    .addresss
                    {
                        margin: 0 0 15px;
                      input
                      {
                        margin: 5px 0 0 0;
                      }
                      label
                      {
                        width: 80%;
                        vertical-align: text-top;
                        padding: 0 0 0 10px;
                      }
                       
                    }

              
                }
            
            }
            .addnewaddress
            {
                h4
                {
                    color: $main-color-darkpurple;
                    padding: 15px 0;
                    font-size: $font-size+2;
                    border-top:$border-width-1 solid $color-grey969696;
                  //  border-bottom:$border-width-1 solid $color-grey969696;
                    font-weight: $font-weight-5;
                    margin: 0;
                    i
                    {
                        padding-right: 10px;
                    }
                    a
                    {
                        color:$main-color-darkpurple;
                        &:hover
                        {
                            color: $main-color-pink;
                        }
                    }
                    
                }
            }
            .addressend
            {
                  border-top:$border-width-1 solid $color-grey969696;
                  padding: 24px 0 0 0;
            }
            .newadddress-div
            {
                width: 100%;
                margin: 24px 0 30px;
                position: relative;
              //  display: none;
                .col-sm-12 > div 
                {
                    padding: 0;
                }
                .fielddiv
                {
                    width: auto;
                    input[type='text'],
                    input[type='number'],
                    input[type='password'],
                    select
                    {
                        background: $color-greyF1ECEE;
                    }
                        
                }

                
                h3
                {
                    font-size: $font-size+2;
                    font-weight: $font-weight-6;
                    margin: 0 0 20px;
                    color: $color-black;
                }
                .canceltxt
                {
                    position: absolute;
                    top: 0;
                    right: 20px;
                }
                .btn-primary
                {
                    background: $main-color-pink;
                }
                .btn:disabled, .btn.disabled, fieldset:disabled .btn
                {
                    background-color:$color-btn-disable;
                }
            }
            .preferred-delivery-content
            {
                .field-heading
                {
                    font-size: $font-size+2;
                    font-weight: $font-weight-6;
                    margin:  0 0 10px;
                    color: $color-black;
                 
                }
                .fielddiv
                {
                    margin:  0 0 25px;
                    input[type='text'],
                    input[type='number'],
                    input[type='password'],
                    input[type='date']

                    {
                        width: 85%;
                        margin: 0 0 0 10px;
                        display: inline-block;
                        background: $main-color-darkpurple-tint5;
                        font-weight: $font-weight-6;
                    }
                    p
                    {
                        padding: 6px 0 0 25px;
                        span
                        {
                            font-size: $font-size+2;
                            color: $main-color-darkpurple;
                            font-weight: $font-weight-5;
                            ;
                        }
                    }
                }

                
            }


            .payment-content
            {
                .payment-option
                {
                    margin: 0 0 15px;
                    input[type='radio']
                    {
                        margin-right: 10px;
                    }
                }
                .payment-option-content
                {
                    padding: 5px;
                    input
                    {
                        &.cvv
                        
                        {
                            width: 112px;
                            display: inline-block;
                        }
                
                    }
                    .expiredate
                    {
                        border: $border-width-105 solid $main-color-darkpurple;
                        padding: .2rem 1rem;
                        border-radius: ($border-radius)-8;
                        display: inline-block;
                        @media (max-width: 576px) 
                        {
                            padding:.2rem .6rem;
                        }
                        span
                        {
                            color: $main-color-darkpurple-tint3;
                        }
                        input
                        {
                            border: none;
                            border-radius: 0;
                            display: inline-block;
                            padding: 0;
                            margin: 0;
                            height: 30px;
                            
                        }
                    }
                }
            }



            .summary-content
            {
                .cart
                {
                    margin: 0;
                    min-height: auto;
                    .cart-list
                    {
                        background:rgba(201, 95, 132, 0.1);
                        box-shadow: none;
                    }
                    .col-lg-1
                    {
                        img
                        {
                            width: 73px;
                            height: 100px;
                        }
                    }
                    .deliverydate
                    {
                        font-size: $font-size+2;
                        span
                        {
                            color: $colo-gret5F5F5F;
                        }
                    }
                    
                    .count
                    {
                        padding: 0 0 15px;
                        margin: 0;
                        input
                        {
                            background:#f8eff2;
                        }
                        span
                        {
                            background: $color-white;
                        }
                    }
                   
                }
             
            }
            .orderinfo
            {
                min-height: auto;
               .orderdetails
               {
                border: none;
                padding:15px 0 0;
                .total
                {
                    border-bottom:$border-width-1 solid $color-black-tint4;
                    padding: 15px 0;
                  
                   
                }
                .discount
                {
                    .itemname
                    {
                        color: $color-success;
                    }   
                    
                }
               }
               .applycoupon
               {
                font-size: $font-size+1;
                border:$border-width-1 solid $color-black-tint4;
               // padding: 13px 0;
               // border-left: none;
                //border-right: none;
                margin: 0 0 15px;
                img,
                svg,
                i
                {
                    padding-right: 10px;
                }
                a
                {
                    color:$main-color-darkpurple;
                    &:hover{
                        color:$main-color-pink;
                    }
                }
                .coupon-content
                {
                    width: 100%;
                    .coupen-subdiv
                    {
                        border-bottom: 1px solid #d0d0d0;
                        margin: 0;
                        .precentage 
                        {
                            border-radius: 0;
                        }
                        .details
                        {
                            width: 100%;
                        }
                    }
                }

                .viewmore
                {
                    padding: 10px;
                }

               }
            }
            .measurement-info
            {
                display: flex;
                div
                {
                    span
                    {
                        color:$main-color-grey-tint1;
                        font-size: $font-size+2;
                        padding:  0 0 0 0;
                        span
                        {
                            color:$color-grey767676;
                            padding:  0 0 0 15px;
                        }
                    }
                    &:last-child
                    {
                        margin-left: auto;
                    }
                    margin:  0 0 15px;
                }
            }
        }
        .measurement-content
        {
            width: 328px;
            .input-fleld-inline
            {
                width: 100%;
                border: none;
                border-bottom: $border-width-105 solid $main-color-darkpurple;
               // padding: .2rem 1rem;
                border-radius: 0;
            //    height: 40px;
                background:transparent;
                color: $main-color-darkpurple;
                margin: 0 0 20px;
                outline: none;
                font-size: $font-size+2;
                font-weight: $font-weight-5;
                &::placeholder
                {
                    color: $main-color-darkpurple-tint3;
                }
            }
            .measure-input
            {
                display: flex;
                flex-wrap: wrap;
                margin: 30px 0 0 0;
          
                div
                {
                    &:last-child
                    {
                        label
                        {
                            font-weight: $font-weight-6;
                        }
                        width: 50%;
                        margin-left: 10px;
                        div
                        {
                            background: #FFFFFF;
                           
                            margin: 0 0 20px;
                            border-radius: $border-radius;
                            padding: 10px 14px;

                            box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.06);
                            width: 100%;
                            &.selected
                            {
                                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
                            }
                            input
                            {
                                display: inline-block;
                                width: 25%;
                                border:none;
                                border-bottom:$border-width-1 solid $main-color-darkpurple;
                                outline: none;
                            }
                            &:last-child
                            {
                                width: 100%;
                            }
                        }
                       
                    }
                }
            }
       
        }
        span
        {
            &.measure-edit
            {   
                font-size: $font-size;
                position: absolute;
                right: 0;
                font-weight: $font-weight-5;
                color:$main-color-darkpurple;
                a{
                    font-size: $font-size;
                }

            }
           
        }
        .coupon
        {
          
            .coupon-input
            {
                border: $border-width-105 solid $main-color-darkpurple;
                padding: 10px;
                width: 328px;
                border-radius: ($border-radius)-9;
                display: flex;
                input
                {
                    border: none;
                    outline: none;

                }
                span
                {
                    margin-left: auto;
                }
                
            }
        }
        .coupon-content
        {
            width: 400px;
            .coupen-subdiv
            {
                display: flex;
                margin: 0 0 15px;
                .precentage
                {
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                    background: $main-color-darkpurple;
                    padding: 0px;
                    color: $color-white;
                    position: relative;
                    width: 45px;
                    height: auto;
                   
                    .text
                    {
                        display: inline-block;
                        width: 90px;
                        height: auto;
                        text-orientation: upright;
                        position: absolute;
                        top: 26px;
                        left: -20px;
                        padding: 20px 0;
                        font-weight: $font-weight-6;
                        font-size: $font-size+6;
                        transform: rotate(-90deg);
                        vertical-align: middle;
                    }
                    
                }
                .details
                {

                    padding: 20px;
                    background: $color-greyF9F9F9;
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    width: 90%;
                    .coupen-apply
                    {
                        display: flex;
                        margin:  0 0 10px;
                        
                        .coupen-txt
                        {
                            border: $border-width-105 dashed $main-color-darkpurple;
                            border-radius: ($border-radius)-10;
                            padding: 5px
                        }
                        div
                        {
                            &:last-child
                            {
                                margin-left: auto;
                            }
                        }
                    }
                    p
                    {
                        margin: 0 0 10px;
                        padding: 0;
                        font-size: $font-size;
                        color: $color-black;
                        &:last-child
                        {
                            margin: 0;
                            color: $color-grey767676;
                            span
                            {
                                color:$main-color-darkpurple;
                            }
                        }
                    }
                    p.hide
                    {
                        color:$color-white;
                    }
                }
            }
        }
        .success-content-div
        {
            width: 328px;
            padding: 60px 0 0 0;
            h3
            {
                font-size: $font-size+10;
                color: $main-color-darkpurple;
                text-align: center;
                display: block;
                &.empty
                {
                    font-size: $font-size+3;
                    color: $color-grey767676;
                    
                    margin: 25px 0 0;
                }
            }
            .gohome
            {
                padding: 0.55rem 1.375rem;;
            }
        }
        
    }
    .btns-div
    {
       // display: flex;
        width: 100%;
        .btn
        {
            margin-left: 15px;
            &:first-child
            {
                margin-left: 0;
            }
        }
        
    }
    .verify-txt
    {
        color:$color-success ;
        font-size: $font-size+2;
    }


   
}
.order-history-list
{
   border: $border-width-105 solid $color-greyB1B4BB;
   .col-lg-8
   {
        &:first-child
        {
            display: flex;
            @media (max-width: 576px) 
            {
                margin-bottom: 0;
                img
                {
                    width: 74px;
                    height: 88px;
                }
                h3
                {
                    padding: 0 0 5px;
                    font-size: $font-size+1;
                }
                h4
                {
                    font-size: ($font-size);
                    color:$color-grey969696;
                }
                .rate
                {
                    font-size: $font-size+2;
                    font-weight: $font-weight-8;
                }
            }
        }
   }
   .item-detail
   {
        margin:  0 0 0 10px !important;
        @media (max-width: 576px) 
        {
            position: relative;
            width: 100%;
            i
            {
                position: absolute;
                right: 0;
                top: 40px;
                font-size: $font-size+4;
            }
        }
   }
   .delivery-detail
   {
    
        h4
        {
            font-size: $font-size+6;
            font-weight: $font-weight-6;
            margin:15px 0 15px;
        }
        .status-txt
        {
            font-size: $font-size+2;
            margin:0 0 10px;
        }
        .star
        {
            span
            {
                margin-right: 10px;
            }
            span,
            i
            {
                font-size: $font-size+2;
            }
            i
            {
                padding-right: 10px;
                &.green
                {
                    color: $color-success;
                }
                &.yellow
                {
                    color: $color-warning;
                }
            }
        }
   }
   .col-sm-12
   {
    padding: 0;
    @media (max-width: 576px) 
    {
        margin: 0 !important;
    }
        >div
        {
           padding: 0 !important;
            //margin: 0 !important;
        }
   }
   &.currentitem
   {
        h3,
        p,
        h4,
        .status-txt
        {
            color: $color-green;
        }

   }
}
.cart
{
    &.order
    {

        min-height: auto;
        padding:0 !important;
        background: transparent !important;
        @media (max-width: 576px) 
        {
            display: block;
            margin-right: 0 !important;
            .reviewdivbtn
            {
                margin: 0 20px 0;
                .btn
                {
                    width: 100%;
                }
            }
        }
    }
    @media (max-width: 576px) 
    {
        &.measurement-page
        {
            .order-history-list
            {
                &.view
                {
                    .displayflex,
                    .measurement-div
                    {
                        margin-right: 0;
                    }
                }
            }
        }
    }
     .order-history-list
    {
        &.view
        {
            padding: 20px 25px !important;
            margin:  0 0 10px;
            box-shadow: none;
            border: none;
            background: $color-white;
            border-radius: 0;
            @media (max-width: 576px) 
            {
              //  padding: 10px 25px !important;
              &.customize-now 
              {
                
                &.mobileviews
                {
                    padding-top: 0 !important;
                }
              }
              &.orderdetails
              {
                &:first-child
                {
                 background: $color-white;
                }
              }
              &.review
              {
                 margin: 0 20px 10px;
                 border-radius: $border-radius;
              }
               &:first-child
               {
                background: none;
               }
               .item-detail
               {
                background: none;
               }

            }
			.view-stich
            {
                margin: 40px 0 0 0;
                @media (max-width: 576px) 
                {
                    margin: 0;
                }
                a
                {
                    text-decoration: underline;
                }
            }
            .field-heading
            {
                margin: 10px 0 0;
            }
            .order-status
            {
               margin: 10px 0 0;
                .status-txt
                {
                    font-size: $font-size+5;
                    vertical-align: middle;
                    font-weight: $font-weight-5;
                    &:first-child
                    {
                        .circle
                        {
                            top: 5px;
                            &::after
                            {
                                display: none;
                            }
                        }
                    }
                    span
                    {
                        margin:  0 10px 0 0;
                        display: inline-block;
                    }

                }
                .circle
                {
                    top:33px;
                    &::after
                    {
                        content: "";
                        width: 2px;
                        height: 50px;
                        display: inline-block;
                        background: $color-greyC4C4C4;
                        position: relative;
                        left: 9px;
                        top: -36px;
                    }
                    &.success
                    {
                        &::after
                        {
                            
                            background:  $color-success;
                            
                        } 
                    }
                }
                &.delivered
                {
                    margin: -15px 0 0;
                    .circle
                    {
                        top:2px;
                        &::after
                        {
                            display: none;
                        }
                    }
                    h4
            {
                font-size: $font-size+6;
                font-weight: $font-weight-6;
                margin:15px 0 15px;
            }
            .status-txt
            {
                font-size: $font-size+2;
                margin:0 0 10px;
            }
            .star
            {
               
                span
                {
                    margin-right: 10px;
                }
                span,
                i
                {
                    font-size: $font-size+2;
                }
                i
                {
                    padding-right: 10px;
                    &.green
                    {
                        color: $color-success;
                    }
                    &.yellow
                    {
                        color: $color-warning;
                    }
                }
                &.ratinguser
                {
                    margin: 10px 0 0;
                    i
                    {
                        font-size: $font-size+10;
                        color: $color-grey767676;
                        cursor: pointer;
                    }
                }
            }




                }
            }
        }
        .review-div,
        .order-details-div-bottom
        {
            cursor: pointer;
            display: flex;
            h3
            {
                margin: 0;
                padding: 0;
                font-weight: $font-weight-6;
            }
            i
            {
                font-weight: $font-weight-6;
                display: inline-block;
                font-size: $font-size+2;
            }

        }
        .review-div
        {
            cursor: pointer;
        }
        .cancel-div
        {
            .cancel-order-txt
            {
                a
                {
                    font-size: $font-size+4;
                    i
                    {
                        padding:  0 10px 0 0;
                        font-size: $font-size+8;
                    }
                }
            }
        }
        .order-details-div,
        .order-details-div-bottom,
        .payment-div
        {
            border: $border-width-105 solid $color-greyD6D6D6;
            padding: 15px !important;
            border-radius: ($border-radius)-10;
            margin-right: 0 !important;
            .order-items
            {
                display: flex;
                width: 400px;
                margin: 0 0 10px;
                @media (max-width: 576px) 
                {
                    width: 100%;
                   
                }
                &:last-child
                {
                    margin: 0;
                }
                .img-div
                {
                    margin: 0 10px 0 0;
                    img
                    {
                        width: 62px;
                       
                    }
                }
                .o-details
                {
                    h4
                    {
                        display: flex;
                        span
                        {
                            display: inline-block;
                            &:last-child
                            {
                                margin-left: auto;
                                min-width: 100px;
                                font-size: $font-size+1;
                                margin: 0 0 0 10px;
                                color: $color-black;
                                @media (max-width: 576px) 
                                {
                                    text-align: right;
                                }
                            }
                        }
                    }
                    h4,
                    p
                    {
                        margin: 0 0 5px;
                        padding: 0;
                        font-size: ($font-size)-1;
                    
                        color: $color-grey505050;
                    }
                    p
                    {
                        color: $color-grey969696;
                        &:last-child
                        {
                            margin: 0;
                        }
                    }
                }
                
            }

             
            
        }
        .order-details-div
        {
            
            border-top-left-radius: ($border-radius)-10;
            border-top-right-radius: ($border-radius)-10;
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
            div
            {
                margin:  0 0 10px;
                font-size:$font-size+2;
                .title
                {
                    width: 100px;
                    display: inline-block;
                    padding: 0;
                    color: $color-grey969696;
                }
                span
                {
                    padding:0  0 0 20px; 
                    display: inline-block;
                    color: $color-grey969696
                }
                   
                
            }
            
        }
        .order-details-div-bottom
        {
            border-top: none;
            border-top-left-radius:0;
            border-top-right-radius: 0;

            border-bottom-left-radius: ($border-radius)-10;
            border-bottom-right-radius: ($border-radius)-10;
            
        }
        .measurement-div
        {
            .measurement-subdiv
            {
                margin:  0 0 20px;
                h4
                {
                    font-size: $font-size+2;
                    font-weight: $font-weight-6;
                    margin: 0 0 5px;
                    color: $color-grey969696
                }
                div
                {
                    font-size: $font-size+2;
                    color: $color-grey767676;
                }
                &:last-child
                {
                    margin: 0;
                }
                input
                {
                    margin: 0 0 10px;
                }
                .newadddress-div
                {
                    width: 100%;
                    margin: 0 0 0px;
                    position: relative;
                //  display: none;
                    .col-sm-12 > div 
                    {
                        padding: 0;
                    }
                    .fielddiv
                    {
                        width: auto;
                        margin-bottom: 20px;
                        input[type='text'],
                        input[type='number'],
                        input[type='password'],
                        select
                        {
                            background: $color-greyF1ECEE;
                        }

                            
                    }

                    
                    h3
                    {
                        font-size: $font-size+2;
                        font-weight: $font-weight-6;
                        margin: 0 0 20px;
                        color: $color-black;
                    }
                    .canceltxt
                    {
                        position: absolute;
                        top: 0;
                        right: 20px;
                    }
                    .btn-primary
                    {
                        background: $main-color-darkpurple;
                        color: $color-white;
                    }
                    .content-div
                    {
                        width: 360px;
                    }
                }
            }
           
        }
        .payment-div
        {
            .measurement-subdiv
            {
                border-bottom: $border-width-1 solid $color-greyD6D6D6;
                padding:  0 0 15px;
            }
        }
        .order-summary
        {
            div
            {
                display: flex;
                span
                {
                    padding: 0;
                    &:last-child
                    {
                        margin-left: auto;
                    }
                }
                
            }
            
        }
      
       
    }   

}
.field-heading
{
    font-size: $font-size+2 !important;
    font-weight: $font-weight-6 !important;
  //  margin:  0 0 10px;
    color: $color-black;
    span
    {
        font-weight: $font-weight-5;
        font-size: $font-size+1 !important;
        
    }
 
}
.address
{
    div
    {
        color: $color-black !important;
        &:first-child
        {
            margin:  0 0 10px;
        }
        span
        {
            font-size: ($font-size);
            padding: 0 0 0 10px;
            color: $color-grey767676;
            @media (max-width: 576px) 
            {
                padding: 0;
            }
        }
        &.phone
        {
            font-weight: $font-weight-6;
        }
    }
    h4
    {
        margin: 0 !important;
        i
        {
            padding: 0 10px 0 0;
        }
        a
        {
            color: $main-color-darkpurple;
            &:hover
            {
                color: $main-color-pink;
            }
        }
    }
}

