.recentWorks {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 3 columns
  gap: 20px;
  // padding: 10px;
  margin: 10px 5%;
  // margin-top: 40px;
  // margin-bottom: 40px;

  .textContainer {
    background-color: #5a2383;
    color: white;
    text-align: center;
    border-radius: 8px;
    height: auto;
    max-height: 280px;
    display: flex;
    align-items: center;
    text-align: start;

    h1 {
      padding: 0 20%;
      font-size: 40px;
      font-weight: 900;
    }
  }

  .imagesContainer {
    display: grid;
    grid-template-columns: 1fr; // Single column for the images
    gap: 15px;
    border-radius: 8px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 280px; /* Limit image height */
    object-fit: cover; /* Cover container while maintaining aspect ratio */
  }
}

@media (max-width: 768px) {
  .recentWorks {
    grid-template-columns: repeat(1, 1fr); /* 3 columns for medium devices */
    padding: 2% 3%;
  }
}

// @media (max-width: 480px) {
//   .recentWorks {
//     grid-template-columns: repeat(1, 1fr); /* 1 column for small devices */
//     margin: 5% 2%; /* Adjust margin for smaller screens */
//   }
// }
