.stepper-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 10px;

    .stepper-item{
        position: relative;
        cursor: pointer;
        .stepper-item-outer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .stepper-title { 
            position: absolute;
            display: inline-block;
            width: max-content;
            width: 105px;
            transform: translate(-39%, 5px);
            text-align: center;
            font-size: $font-size+2;
            vertical-align: middle;
            font-weight: $font-weight-5;
        }
        .stepper-title-active {
            color: #000000;
        }
    }

}
.stepper-item-outer:nth-of-type(odd){
        border: 2px solid #C8CACB;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        
        .stepper-item-inner {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px;
            color: white;
            font-size: small;
        }
        .stepper-item-inner.stepper-item-inner-active{
            width: 18px;
            height: 18px;
        }
}

.stepper-item-outer:nth-of-type(even){
    height: 0px;
    border: 0.5px solid #C8CACB;
    width: 15%;
}

.stepper-item-inner-future {
    background-color: #DEDFE0;
}
.stepper-item-inner-completed {
    background-color: $color-green;
}
.stepper-item-inner-active {
    background-color: $color-green;
}